/* home sections */

.input-size{
  border: none !important;
  width: 200px !important;

}

.form-control:focus{
  box-shadow: none !important; 
} 

.border-right
{
  border-right: 1px solid #E0E0E0 ;
}

.input-size-check{
  border: none !important;
  width: 138px !important;
  background: transparent !important;
}

.main-border{
  border-radius: 50px;
  border: 1px solid #E0E0E0;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 5px !important ;
  padding-block: 14px;
}

.mobile-mode-form{
  /* margin-top: 104px !important; */
  background-color: #fff;
  display: none ;
}

.opition{
  border: none !important;
}

.opition:focus{
  box-shadow: none !important;
}

.form-control{
  padding: 8px 3px 0 0   !important;
}

.hambardar{
  display: flex;
  justify-content: end;
  align-items: center;
}



.bg_banner{
  background-image: url("../img/blue-nack-main-img-section.png");
  height:800px  ;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_bg {
  background-image: url(../img/sliderblum.png);
  height: 360px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.padding-top{
  padding-top:330px;
}

.hastag {
  margin-top: 293px;
}

.guest-manage {
  padding-top: 64px;
}

.guest-manage img{
  width:  62%;
}
.side-big-logo img{
  position: absolute;
  top: 0;
  left: 0;
}

.card-border{
  border-radius: 20px ;
  border-radius: 2px solid #000 !important;
  background-color: #F5F5F5;
}

.hotel-images-room{
  width: 100%;
}

.book-btn{
  background-color: var(--main_color);
  border: 1px solid var(--main_color);
  color: white;
  border-radius: 5px;
  margin-top: 10px;
} 

.img-manage-us img{
  width: 100% !important;
}

.hotel-contant {
  position: absolute;
  bottom: 12px;
  padding: 0 20px;
  color: #fff;
  text-transform: capitalize;
}

.logo_spin{
  -webkit-animation: spin 10s infinite linear; 
}
.border-right input{
  background: transparent  !important;
}

.product_bg{
  background-color: #E6F8FE;
}

.servic-manage{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 75px;
}

.servic-manage img{
  margin-block-end: 12px;
  width: 60px !important;
  transition: all 0.2s linear;
  
}

.mobile-slider{
  display: none;
}

.servic-manage img:hover{
  width: 70px !important;
}

.mobile-design{
  display: none !important;
}

.contact_btn{
  border: 1px solid var(--main_color);
  padding: 3px 18px;
}
/* -----socal-media---------- */

/* .floating-bar p,
span,
.twitter {
  font: normal normal 10px Arial;
  text-align: center;
  color: #998578;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 10px;
} */

.floating-bar .twitter {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 14px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.floating-bar .twitter:hover {
  color: #FF7D6D;
  text-decoration: none;
}



/* Floating Social Media Bar Style Starts Here */

.floating-bar .fl-fl {
  background: var(--main_color);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 207px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.floating-bar .fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.floating-bar .fl-fl:hover {
  right: 0;
}

.floating-bar .fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 500px;
}

.float-tw {
  top: 560px;
}

.float-gp {
  top: 620px;
}

.float-rs {
  top: 682px;
}

.special_btn{
  background: transparent; 
  border: 1px solid var(--main_color) ;
  border-radius: 5px;   
}

.see-what{
  text-align: center;
  margin-top: -60px;
  
}

.blue-nack-img {
  padding-top: 53px;
  width: 100%;
  margin-left: 56px;
}

/* @-webkit-keyframes logo_spin{
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}   
} */

.come-blue-neck {
  width: 283px;
  height: 238px;
  background-color: #F5F5F5;
  border-radius: 14px;
}

.come-blue-yellow{
  width: 280px;
  height: 245px;
  background-color: var(--yellow-color);
  border-radius: 14px ;
}

.gallery-images-size img{
  width: 100%;
}

.come-blue-neck_1{
  width: 306px;
  height: 238px;
  background-color: #F5F5F5;
  border-radius: 14px;
}

.light-blue {
  width: 630px;
  height: 358px;
  background-color: #b3eeff;
  border-radius: 16px;
}

.bg-white{
  height: 500px;
}

.bg-white img{
  display: block;
  margin: auto;
}

.mobile-bg{
  background-color:white;
}
.mobile-off{
  display: none !important;
}

.product_slider {
  margin: 0 -10px;
}
.product_slider .slick-slide {
  margin: 0 10px;
}

.partner{
  border: none;
  background-color: #fff;
}

.text-color a{
  color:var(--main_color) !important;
  font-size: var(--font_size_18);
}

.text-color i{
  font-size: 30px !important;
  padding-top: 4px;
  padding-left: 4px;
}

.mobile-design .slick-dots {
  bottom: 12px !important;  
  
}
.product_slider .slick-dots {
  bottom: 12px !important;  
  
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: var(--yellow-color) !important;
}

.slick-dots li button:before{
  font-size: 10px !important;
}

input {
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 0 !important;
}

.form-control {
  border-radius: 0 !important;
  font-size: 12x;
}

.clickable { cursor: pointer; }


.form-group input{
  border: none;
  box-shadow: none;
}

/* ==============hotel-listing===================== */

.hotel-listing-top{
  margin-top: 165px;
}

.card-bg{
  background-color: #F5F5F5;
  border-radius: 20px;
}

.text-blue{
  color: blue !important;
  border: none;
}

#more {display: none;}

.book-now{
  background-color: var(--main_color);
  border: 1px solid var(--main_color);
  padding: 10px 18px;
  border-radius: 5px;
  color: white;
  font-weight: 550;
  margin-top:65px;
}

.more-top{
  padding-top:163px;
}

.hotel_img img{
  width: 100%;
}

.price-top{
  margin-top:42px;
}

.slide-containt p a{
  padding-right:10px ;
  margin-bottom: 20px !important;
}

/* .aminitiy-bottom{
  padding-bottom: 20px;
} */


/* ==================hotel-details-page======================= */
.room-reviews {
  margin-top: 50px;
}

.room .section-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-title.sm h4 {
  font-size: 50px;
}

.section-title p {
  color: #c9c9c9;
  text-transform: uppercase;
  display: inline-block;
}

.room-reviews .rating-details .review-summary {
  text-align: center;
  background-color: #ad498c;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 10px;
  border-radius: 4px;
}

.room-reviews .rating-details .review-summary .average {
  font-size: 28px;
  font-weight: 600;
}

.room-reviews .rating-details .review-summary .rating i {
  color: #fff;
}

.room-reviews .rating-details .progress-item {
  margin-bottom: 5px;
}

.room-reviews .rating-details .progress {
  height: 15px;
  background: #efefef;
  border-radius: 2px;
}

.room-reviews .rating-details .progress-bar {
  background-color: #ad498c;
}

.room-reviews .rating-details .progress-item .progress-value {
  font-size: 12px;
  margin-top: -5px;
  text-transform: uppercase;
  text-align: right;
}

.room-reviews .review-box {
  position: relative;
  margin-bottom: 25px;
  padding-left: 100px;
  min-height: 100px;
}

.btn_1 {
  border-radius: 3px;
  border: 1px solid #04ad04 !important;
  text-transform: uppercase;
  padding: 10px 18px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;
  margin-right: 10px;
}

.room-reviews .review-contentt {
  position: relative;
  padding: 20px 30px;
  border: 1px solid #efefef;
  border-left-width: 8px;
}

.room-reviews .rating i.voted {
  color: #ffb600;
}

.room-reviews .review-box {
  position: relative;
  margin-bottom: 25px;
  padding-left: 100px;
  min-height: 100px;
}

.room-reviews .review-author {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.room-reviews .review-author img {
  border-radius: 3px;
}

.room-reviews .review-author img {
  width: 80px;
  height: auto;
}

.room-reviews .review-info {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

/* ====================hotel-listing=================== */

.hotel-details-margine-top{
  margin-top: 152px !important;
}

.hotel-details-margine-top img {
  width: 100%;
  border-radius: 10px;
}


.padding-bottom{
  margin-bottom: 25px !important;
}

.rate-manage{
  background-color: #E8F7F0;
  color:#1EBC67;
  padding: 8px 15px;
  border-radius: 10px;
  
}

.rate-hotels{
  background-color: #EAF7F9;
  color:#01BCF1;
  padding: 8px 15px;
  border-radius: 10px;
}

.rate-buliding{
  background-color: #FBEBF0;
  color:#E4457F;
  padding: 8px 15px;
  border-radius: 10px;
}

.rate-value{
  background-color: #FBEEE8;
  color:#D95A25;
  padding: 8px 15px;
  border-radius: 10px;
}

.green-text{
  color:#1EBC67 ;
}
.share-img img{
  width: 26px;
  float: inline-end;
}

.navigation-bar{
  padding-block: 60px;
}

.navigation-bar a{
  margin-inline-end: 70px;
  font-weight: 500;
  font-size: var(--font_size_22);
  transition: all 0.1s linear;
  border-bottom: 2px solid  white ;   

}

.navigation-bar a:hover{
    color:var(--main_color) !important;
    border-bottom: 2px solid  var(--main_color) ;   
}

.amenities-manage p  span{
  margin-left: 15px !important;
}

.amenities-manage p {
  padding-block: 5px;
}

.phots-slider{
  padding-left: 28px !important;
  font-size: 15px;
}

.phots-slider span{
  padding: 7px 10px;
}

.phots-slider span:hover{
  background-color: white;
  border-radius: 15px;
  color: var(--main_color);
}

.phots-slider .slick-dots {
  bottom: 12px !important
}

 .slick-dots li.slick-active button:before{
  color: var(--main_color) !important;
}

.map-manage iframe{
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: 30px;
}



/* ==============privay================================== */

 .slick-next:before {
  content: ">"!important;
  background-color: transparent;
  border-radius: 0px;
  color: #01BCF1 !important;
  font-size: 32px;
}

 .slick-prev:before {
  content: "<"!important;
  background-color: transparent;
  border-radius: 0px;
  color: #01BCF1 !important;
  font-size: 32px;
}

.slick-next{
  border: none !important;
  color: transparent;
  font-size: 0 !important;
  position: absolute;
  top: 178px;
  right: 15px;
}

.slick-prev{
  border: none !important;
  color: transparent;
  font-size: 0 !important;
  position: absolute;
  top: 178px;
  left: 15px;
  z-index: 9999;
}

/* ======================hotel=details========================= */


.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 200px;
}
.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}

.bg-logo-animation{
  background-image: url("../img/blue-neck-add.png");
  width: 100%;
  height: 196vh;
  position: sticky;
}
