@media (max-width: 1600px) {

}

@media (max-width: 1400px) {
  html {
    font-size: 85%;
  }

  .guest-manage img {
    width: 83%;
  }

  .guest-manage {
    padding-top: 48px;
  }

  /* .blue-nack-img {
    padding-top: 207px;
    width: 100%;
    margin-left: 47 px;
  } */

  .slider_bg {
    height: 324px;
    width: 100%;
  }

  .guest-manage img {
    width: 67%;
  }

  .blue-nack-img {
    padding-top: 59px;
    width: 100%;
    margin-left: 47px;
  }

  .bg_banner {
    height: 708px;
    width: 100%;
  }

  .hastag {
    margin-top: 263px;
  }

  .form-control {
    padding: 8px 22px 0 0 !important;
  }
}

@media (max-width: 1200px) {
  .slider_bg {
    height: 279px;
    width: 100%;
  }

  .hastag {
    margin-top: 229px;
  }

  .light-blue {
    width: 565px;
    height: 358px;
  }

  .book-now {
    margin-top: 30px;
  }

  .price-top {
    margin-top: 20px;
  }

  .hotel_img img {
    width: 100%;
    aspect-ratio: 3 / 2.3;
  }

  .more-top {
    padding-top: 133px;
  }
}

@media (max-width: 1040px) {
  .msin-spin-logo {
    margin-top: 305px !important;
  }

  .blue-nack-img {
    margin-left: 4px;
}

}

@media (max-width: 992px) {
  .main-border {
    display: none !important;
  }

  .mobile-mode-form {
    display: inherit;
  }

  .guest-manage img {
    width: 78%;
    margin-left: 26px;
  }

  .padding-top {
    padding-top: 112px;
  }

  .msin-spin-logo {
    margin-top: 108px !important;
    padding-left: 118px !important;
  }

  .blue-nack-img {
    padding-top: 1px;
    width: 93%;
    margin-left: 119px;
  }
  .slider_bg {
    height: 245px;
    width: 100%;
  }

  .hastag {
    margin-top: 12px;
    font-size: 28px;
  }

  .bg_banner {
    margin-top: 80px;
  }

  .img-manage-us {
    display: none !important;
  }

  .mobile-design {
    display: inherit !important;
  }

  .bg-white {
    display: none;
  }

  .mobile-bg {
    border-radius: 20px;
    padding: 9px;
  }

  .mobile-off {
    display: inherit !important;
  }

  .main-logo {
    width: 100px;
  }

  .hotel_img img {
    width: 100%;
    aspect-ratio: 5 / 2.8;
  }

  .slide-containt {
    padding-top: 18px;
  }

  .hotel-listing-top {
    margin-top: 120px;
  }

  .padding-bottom {
    margin-bottom: 16px !important;
  }

  .navigation-bar a {
    margin-inline-end: 36px;
    font-weight: 500;
    font-size: var(--font_size_18);
    transition: all 0.1s linear;
    border-bottom: 2px solid white;
  }
}

@media (max-width: 768px) {
  .h1_size {
    font-size: 2.1875rem;
  }

  .mobile-mode-form {
    display: inherit;
    position: absolute;
    width: 76%;
    z-index: 999;
    margin-top: 32px;
  }

  .msin-spin-logo {
    margin-top: 91px !important;
    padding-left: 7px !important;
    position: absolute;
    z-index: 999;
    width: 424px !important;
  }

  .bg_banner {
    margin-top: 50px;
  }

  .main-logo {
    width: 90px;
  }

  .hotel-details-margine-top {
    margin-top: 100px !important;
  }

  .slider_bg {
   display: none;
  }



  .guest-manage img {
   display: none;
  }

  .blue-nack-img {
   display: none;
  }

  .mobile-slider img {
    width: 100%;
    aspect-ratio: 2 / 1.7;
  }

  .mobile-slider{
    position: relative;
    display: inherit;
  }

  .hastag-mobile{
    position: absolute;
    font-size: 2.625rem;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
  }

  .desktop-view{ 
    display: none !important;
  }

  .slick-prev {
    border: none !important;
    color: white;
    font-size: 0 !important;
    position: absolute;
    top: 126px;
    left: 15px;
    z-index: 9999;
}

.slick-next{
  border: none !important;
  color: white;
  font-size: 0 !important;
  position: absolute;
  top: 126px;
  right: 15px;
}

}

@media (max-width: 576px) {
  .mobile-mode-form {
    display: inherit;
    position: absolute;
    width: 94%;
    z-index: 999;
    margin-top: 31px;
  }

  .msin-spin-logo {
    margin-top: 93px !important;
    width: 40% !important;
    margin-left: 282px;
  }

  .yellow {
    font-size: 32px;
  }

  .bg_banner {
    background-image: url("../img/mobile\ BG.jpg");
    height: 724px;
    width: 100%;
    background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .slider_bg {
    background-image: url("../img/sleep-tech-2.png");
    height: 360px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .bg-logo-animation{
    background-image: url("../img/blue-neck-add.png");
    width: 100%;
    height: 100vh;
  }

  .h2-size {
    font-size: 1.5rem;
  } 

  .vertical_padding {
    padding-block: 50px;
  }

  .hambardar img {
    width: 30px !important;
  }

  .footer {
    padding-top: 30px;
  }

  .mobile-img-logo {
    width: 123px;
  }

  .hotel-listing-top {
    margin-top: 99px;
  }

  .hotel-details-margine-top {
    margin-top: 91px !important;
  }

  .map-manage iframe {
    width: 100%;
    height: 400px;
  }

  .blue-nack-img {
    padding-top: 41px;
    width: 79%;
    margin-left: 64px;
  }
  .guest-manage img {
    width: 76%;
    margin-left: 1px;
  }

  .slider_bg {
    height: 192px;
    width: 100%;
}

/* .yellow {
  font-size: 25px;
  margin-left: 43px;
} */

.navigation-bar{
  display: none !important; 
}

}

@media (max-width: 480px) {
  .msin-spin-logo {
    margin-top: 130px !important;
    width: 48% !important;
    margin-left: 203px;
  }

  .padding-top {
    padding-top: 71px;
  }
}

@media (max-width: 430px) {
}

@media (max-width: 391px) {
  .msin-spin-logo {
    margin-top: 130px !important;
    width: 59% !important;
    margin-left: 56px;
  }

  .mobile-mode-form {
    margin-top: 10px;
  }

  :root {
    --font_size_25: 18px;
    --font_size_30: 18px;
  }

  .more-top {
    padding-top: 99px;
  }

  .book-now {
    padding: 10px 18px;
  }

  .navigation-bar a {
    margin-inline-end: 21px;
    font-weight: 500;
    font-size: var(--font_size_18);
  }
}
