.horzontal-padding{
    padding-inline: 20px;
}

.back-arrow{
    font-size: 32px;
    padding: 18px 0;
}

.slef-checking .logo-img {
    max-width: 100px;
    padding-top: 20px;
}

.slef-checking .checking-img , .reservation .checking-img{
    width: 80%;
    display:block;
    margin: auto;
    padding-top: 65px;
}



.slef-checking .slef-booking , .reservation .slef-booking , .slef_button .slef-booking , .otp-verification .slef-booking , .numverification .slef-booking {
    margin-top: 20px;
    display: block;
    background-color: var(--main_color);
    text-align: center;
    border-radius: 24px; 
    padding: 14px 0; 
    color: #fff !important;
    border: 1px solid var(--main_color);
}

.otp-verification .slef-booking.loader-button{
  padding: 7px 0 !important;
}

.otp-verification .slef-booking , .numverification .slef-booking  {
  width: 100%;
}
 
.slef-checking  .main-heading-color{
    padding-block:20px;
}



/* ---regervation--- */
/* .reservation{
    padding: 50px 0;
} */

.reservation .reservation-input{
    padding: 10px 19px;
    border-radius: 18px; 
    border:2px solid var(--main_color);
    margin-top: 25px;
}

.reservation .light-color{
    color: var(--paragrap-light-color);
}

.scanner-img {
    width: 347px;
    display: block;
    margin: auto;
}


/* --user-details- */

.user-details-outer{
    background-color: #F9F9F9;
    padding: 11px 30px 210px 30px;
    border-radius: 18px;
}

.user-details-coloum{
    border-bottom: 1px solid black;
    padding: 22px 0px;
}

.user-details-outer .user-details-coloum p{
    margin-bottom: 0;
}



/* ---avilable.css-- */

*:focus{outline: none}

.form{
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  font-family: sans-serif;
  background: #fff
}
.form-item{
  position: relative;
  margin-bottom: 15px
}

.form-item select {
  display: block;
  width: 100%;
  /* height: 53px; */
  background: transparent !important;
  border: solid 1px;
  transition: all .3s ease;
  padding: 21px 18px;
  border-radius: 10px;
  margin-top: 10px;
 }

.form-item select:focus{
  border-color:  #ccc
}
.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 17px;
  left: 10px;
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all .3s ease
}
.form-item select:focus + label
{
  font-size: 13px;
  top: -5px
}
.form-item input:focus + label{
  color: blue
}

.img-rapper img {
  width: 100%;
}

.img-rapper p {
  font-size: var(--font_size_18);
  padding-top: 40px;
}

.rooms .slick-prev, .rooms .slick-next  {
  width: 20px;
  background: unset;
  border: unset;
}

/* .rooms .slick-prev:before {
  content: url(/assets/font/Up-arrow.svg) !important;
  color: black;
  border-radius: 50px;
  } */


/* Style for both arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 104%; /* Center vertically */
  transform: translateY(-50%); /* Adjusts vertical alignment */
  z-index: 1;
  background: none;
  border: none;
  margin-top: 30px;
  text-align: center;
}

/* Center the prev arrow on the left */
.slick-prev {
  left: 170px; /* Adjust to control distance from the left */

}

/* Center the next arrow on the right */
.slick-next {
  right: 231px;
}

.slick-next img:hover{
  width: 50px;
}

.slick-next img{
width: 40px;
}

.slick-prev img{
width: 58px;
}

.slick-prev img:hover{
width: 78px;
}

.slef_button{
  position: relative;
  bottom: -110px;
}



.otp-verification , .numverification{
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  padding: 22px 21px;
  border-radius: 12px;
}

  .numverification{
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}


#verifcationotp {
  display: flex ;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  
}

.loader-button  span{
 margin-right: 7px;
}


.self-thank-you{
  display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.self-thank-you .selfcheckin{
    width: 100%;
    border-radius: 5rem;
} 


@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0.25;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animation {
  animation: slide-in 500ms;
  animation-iteration-count: 1;
}


.loader-thank{
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background: #ffffffba;
  display: none;
}

.loader-thank img{
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 999;
}


 

@media(max-width:480px){
  .slick-prev {
    left: 128px;
}

.slick-next {
  right: 222px;
}

.form-item select{
  padding: 24px 15px;
}

.form-item label{
  top: 12px;
}
}

@media(max-width:440px){
  .slick-prev {
    left: 128px;
}

.slick-next {
  right: 194px;
}
}

@media(max-width:376px){
  .slick-prev {
    left: 99px;
}

.slick-next {
  right: 140px;
}

}
@media(max-width:320px){
  .slick-prev {
    left: 76px;
}

.slick-next {
  right: 128px;
}
}